@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFC0CB, #DA70D6, #9400D3);
}


header {
    font-family: 'SF Pro Display', sans-serif;
    color:white;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
  
  
    background: linear-gradient(to top, rgb(190,16,109) 0%, rgb(30,64,94) 41%, rgb(24,2,11) 100%);
    box-shadow: 20px 0 10px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    background: linear-gradient(to bottom, #B2FFFF, #80FFFF, #4DFFFF);
    color: black;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: justify;
}